body{
  padding-top: 70px !important;
}
ul,li,ol,div,{
  padding: 0;
  margin: 0;
}

.pdl10{
  padding-left: 10px !important;
}
.pdr10{
  padding-left: 10px !important;
}
.pdt10{
  padding-left: 10px !important;
}
.pdb10{
  padding-left: 10px !important;
}
.pdt15{
  padding-top: 15px !important;
}
.pdl15{
  padding-left: 15px !important;
}
.pd15{
  padding: 15px !important;
}

.icon-blank{

}

ul{
  list-style: none;
}

.overhidden{
  //overflow hidden
  overflow: hidden;
}
