<div class="box ">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i> {{title}}</h2>
        <!--div class="box-icon">
            <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div-->
    </div>
    <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
            <tr>
                <th ng-repeat="h in headers">{{h.colName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in data">
                <td ng-repeat="h in headers">{{row[h.name]}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div><!--/span-->
<!-- content ends -->