//
   Created by L on 14-3-23.

div
    div(data-original-title)
        h2
            i.icon-edit
            span {{title}}
    .uk-form(ng-hide="loading")
        div
            input(type='text',id='inputName', ng-model='bus',placeholder='{{phBusName}}')
            button.uk-button.uk-button-primary(type="button",ng-click="getBus(bus)"){{search_T}}
        select(ng-hide="loading",ng-model="route",ng-change="switchRoute()")
            option(value=0) 上行
            option(value=1) 下行
        highchart(id='char1',config='chartConfig')
    div(ng-show="loading")
        img.ajax-loader(src="theme/img/ajax-loaders/ajax-loader-7.gif")





