doctype html
html(ng-app='easyApp',id='easyApp',ng-controller="MainCtrl")
    head
        title L的EasyApp
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        //link(rel="stylesheet",href="theme/css/bootstrap-{{skin}}.css")
        link(rel="stylesheet", href="resourses/css/main.css")
        link(rel="stylesheet", href="resourses/css/uikit.gradient.min.css")
        style.
            .sidebar-nav {
                padding: 9px 0;
            }
            .myhide {
                display: none;
            }
            .ajax-loader {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -32px; /* -1 * image width / 2 */
                margin-top: -32px;  /* -1 * image height / 2 */
                display: block;
            }

    body
        block content


        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-resource/angular-resource.js')
        script(src='/bower_components/angular-cookies/angular-cookies.js')
        script(src='/bower_components/angular-sanitize/angular-sanitize.js')
        script(src='/bower_components/angular-route/angular-route.js')
        script(src="lib/angular-ui-router.js")
        script(src="lib/jquery-1.7.2.min.js")
        script(src="/lib/highcharts.js")
        script(src="/lib/moment.min.js")
        script(src="jsMin/all.min.js")
        script(type="text/javascript", src="http://api.map.baidu.com/api?v=2.0&ak=yar0imZX2EI1B7gdB62VfBj0")
