doctype html
html(ng-app='easyApp',id='easyApp',ng-controller="MainCtrl")
  head
    title L的EasyApp
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",href="theme/css/bootstrap-{{skin}}.css")
    link(href="/theme/css/bootstrap-responsive.css", rel="stylesheet")
    link(href="/theme/css/charisma-app.css", rel="stylesheet")
    link(href="/theme/css/jquery-ui-1.8.21.custom.css", rel="stylesheet")
    link(href="/favicon.ico" ,rel="shortcut icon")
    link(href="../favicon.ico" ,rel="icon")
    style.
        body{
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
        .myhide {
            display: none;
        }
        .ajax-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -32px; /* -1 * image width / 2 */
            margin-top: -32px;  /* -1 * image height / 2 */
            display: block;
        }

  body
    block content

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-resource/angular-resource.js')
    script(src='/bower_components/angular-cookies/angular-cookies.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src="scripts/directives/ui-bootstrap-tpls-0.8.0.min.js")
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/services/cookie.js")
    script(src="scripts/services/stationName.js")
    script(src="scripts/directives/highcharts-ng.js")
    script(src="scripts/services/language.js")
    script(src="scripts/controllers/weather.js")
    script(src="scripts/directives/staticTable.js")
    script(src="scripts/controllers/zhibo.js")
    script(src="scripts/controllers/bus.js")
    script(src="scripts/controllers/train.js")
    script(src="/theme/js/jquery-1.7.2.min.js")
    script(src="/theme/js/jquery-ui-1.8.21.custom.min.js")
    script(src="/lib/highcharts.js")
    script(src="/lib/moment.min.js")
    script(src="/theme/js/bootstrap-dropdown.js")
    script(src="/theme/js/bootstrap-tab.js")
    script(type="text/javascript", src="http://api.map.baidu.com/api?v=2.0&ak=yar0imZX2EI1B7gdB62VfBj0")
