//
   Created by L on 14-4-19.

.D-narbar
    .D-narbarCenter
        .title
            img(src='resourses/img/favicon.ico')
        nav(option='option.menu')
        dropdown.D-dropdown(ng-repeat = "dp in option.dropdown",option="dp")

