//
   Created by L on 14-3-19.

div
    div(data-original-title)
        h2
            i.icon-edit
            span {{title}}
    .uk-form(ng-hide="loading")
        p
            input(type='text', placeholder="{{startCity}}", ng-model="sCity",typeahead="state for state in states | filter:$viewValue | limitTo:8")
        div
            input(type="text",placeholder="{{endCity}}", ng-model="eCity")
            button.uk-button.uk-button-primary(type="button",ng-click="getTrain()") {{search}}
        p
            button.uk-button.uk-button-primary(ng-repeat="but in buttons",ng-class="{'uk-button-success': but.active}",ng-click="selectTime(but.value)"){{but.name}}
        p
            a.uk-button.uk-button-large.uk-button-success(href="https://kyfw.12306.cn/otn/leftTicket/init",target="_blank") {{buyTicket}}
        stable(option = 'option')
    div(ng-show="loading")
        img.ajax-loader(src="theme/img/ajax-loaders/ajax-loader-7.gif")
