//
   Created by L on 14-3-18.
.box
    .box-header.well(data-original-title)
        h2
            i.icon-edit
            span {{title}}
    .box-content.uk-form(ng-hide="loading")
        .input-append
            input(type='text',id='inputName', ng-model='city',placeholder='{{phCityName}}')
            button.uk-button.uk-button-primary(type="button",ng-click="getWeather(city)") {{search_T}}
            button.uk-button.uk-button-primary(type="button",ng-click="reflesh(city)") {{flesh_T}}
        highchart(id='char1',config='chartConfig')
    div(ng-show="loading")
        img.ajax-loader(src="theme/img/ajax-loaders/ajax-loader-7.gif")
