body {
  padding-top: 45px !important;
  padding-left: 10px;
}
ul,
li,
ol,
body,
div {
  padding: 0;
  margin: 0;
}
.pdl10 {
  padding-left: 10px;
}
.pdr10 {
  padding-left: 10px;
}
.pdt10 {
  padding-left: 10px;
}
.pdb10 {
  padding-left: 10px;
}
ul {
  list-style: none;
}
.D-dropdown {
  float: right;
  padding: 5px 10px 5px 0;
}
.D-dropdown > a {
  background-color: red;
  border: 1px solid #000000;
  line-height: 18px;
  border-radius: 4px 4px 4px 4px;
}
.D-narbar {
  padding: 15px 0;
  background: #000000;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}
.D-narbarCenter {
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
.D-narbarCenter div.title {
  float: left;
  padding: 0 30px;
}
.D-narbarCenter-rightItem {
  float: right;
  padding-top: 10px;
}
.D-nav {
  overflow: auto;
  float: left;
}
.D-nav > li {
  float: left;
  margin-left: 20px;
}
.D-nav > li > a {
  border-radius: 3px !important;
  color: #98a8a8;
  font-size: 15px;
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.D-nav > li > a.active {
  background: #1d8acb;
  color: azure;
}
.D-nav > li > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: azure;
}
