.D-narbar{
    background-color: #33578F;
    height: 45px;
    position: absolute;
    top: 0;
    width: 100%;
    &-title{
      float: left;
      padding-top: 5px;
    }
    &-rightItem{
      float:right;
      padding-top: 10px;

    }
}
